# SauceDemo
SAUCE_BASE_URL=https://www.saucedemo.com
SAUCE_USERNAME=standard_user
SAUCE_PASSWORD=secret_sauce

# Paisabombas
APP_BASE_URL=https://dev.paisabombas.app
APP_EMAIL=tu-email@ejemplo.com
APP_PASSWORD=tu-contraseña
